* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient( to bottom right, #4682B4, #E0FFFF);
    height: 100vh;
    font-family: monospace;
}

/* FORM STYLE */

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25rem;
    height: 65vh;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1rem 0 ;
}
.formContainer h2 {
    font-size: 2rem;
    font-weight: bold;
}
.formContainer form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
}
.formContainer input {
    border: none;
    background-color: #d2e2ef;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem ;
    color: #4682B4;
    border-radius: 10px;
}
.formContainer input::placeholder {
    color: #4682B4;
    font-family: monospace;
    font-weight: bold;
}
.formContainer button {
    border: none;
    border-radius: 10px;
    background-color: #4682B4;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}  
.formContainer button:hover {
    background-color: #376d99;
    color: white;
}  
.formContainer p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
} 
.formContainer a {
    text-decoration: none;
    color: #4682B4;
}
.formContainer a:hover{
    text-decoration: underline;
}
/* CHECKBOX SHOW PASSWORD*/
.formContainer div{
    display: flex;
    justify-content: start;
    width: 90%;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 1rem;
}
.formContainer div p{
    position: relative;
    text-align: start;
    font-size: 0.9rem;
    color: #376d99 ;
}
#togglePassword{
    width: 0.6rem;
    height: 0.6rem;
    border: none;
    border-radius: 4px;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}
/* LOG OUT BUTTON*/
.logoutBtn {
    border: solid 2px whitesmoke;
    margin: 1rem ;
    border-radius: 10px;
    background-color: #4682B4;
    width: 10rem;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
#quoteTitle{
    margin: 1rem;
}
#quoteBox{
    margin: 2rem;
}
#quoteText{
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}
#loadNewQuote{
    background-color: transparent;
    border: none;
    color: #376d99;
    font-weight: bolder;
    cursor: pointer;
    font-size: 2rem;
    transition: transform 0.2s ease, color 0.2s ease;
}
#loadNewQuote:hover{
    color: #1a4c6e;
    transform: scale(1.2);
}